body {font-family: Arial; background:#f4f4f4;} header{background:#0b3d91;color:white;text-align:center;padding:40px 0;}
.profile-photo{width:180px;height:180px;border-radius:100%;border:4px solid #fff;}
.container{width:90%;max-width:900px;margin:auto;padding:20px 0;} 
section{background:white;margin:20px 0;padding:30px;border-radius:8px;}
h2{border-left:5px solid #0b3d91;padding-left:10px;}
